body,
html,
.container-fluid {
	height: 100%;
  font-family: 'Roboto' !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto';
}
p, div {
  font-family: 'Roboto';
}


#app {
	height: 100%;
}

/* Signin and Signup Components Styling */

.signin-form, .signup-form {
  /*background-color: #556270;*/
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

form .text-field-input {
  -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: 0;
    border: 1px solid rgba(85, 98, 112, 0.7);
    background-color: rgba(85, 98, 112, 0.6);
    width: 90%;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 10px auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    font-weight: 300;
}

form .text-field-input:hover {
  background-color: rgba(85, 98, 112, 0.8);
}
form .text-field-input:focus {
  background-color: white;
  width: 300px;
  color: #53e3a6;
}

form .text-field-input div label {
  color: white;
}

.signin-form-button, .signup-form-button {
  width: 90%;
}

/* Landing Page Component Styling */

.landing-title {
  padding-top: 200px;
  color: black;

}
.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

.intro-message > h1 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  font-weight: 800;
  font-size: 80px;
}

/* CSS for Animations */
.animation-container {
  height: 100%;
  width: 100%;
}

.example-appear {
  opacity: 0;
  transform: translate(-250px, 0);
  transform: translate3d(-250px, 0, 0);
}

.example-appear.example-appear-active {
  opacity: 1;
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
  transition-property: transform, opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.32, 1), linear;
}

.example-enter {
  opacity: 0;
  transform: translate(-250px, 0);
  transform: translate3d(-250px, 0, 0);
}

.example-enter.example-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
  transition-property: transform, opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.32, 1), linear;
}

.example-leave {
  opacity: 1;
  transform: translate(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition-property: transform, opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.32, 1), linear;
}

.example-leave.example-leave-active {
  opacity: 0;
  transform: translate(250px, 0);
  transform: translate3d(250px, 0, 0);
}

/* Main App Component Styling */

.main {
  height: 100%;
}

.app-container {
  height: 100%;
/*  padding-top: 50px;
  padding-bottom: 50px;*/
  text-align: center;
  color: #f8f8f8;
/*  background: url(../../assets/background.jpeg) no-repeat center center;
  background-size: cover;*/
  background: #50a3a2;
/*  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);*/
}

.app-body {
	padding-top: 72px;
}

.appheader {
  /*position: -webkit-sticky;*/
  position: fixed;
  height: 72px;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.appheader-hidden {
	display: hidden;
}

.appheader-navbar {
  /*background: #50a3a2;*/
  background: #A35051;
  background: -webkit-linear-gradient(top left, #A35051 0%, #A35051 0%);
  background: linear-gradient(to bottom right, #A35051 0%, #A35051 0%);
/*  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 0%);*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.appheader-children-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.appheader-left-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex: 1;
}

.appheader-menu-button {
	float: left;
/*	width: 64px;
	height: 64px;
	padding: 8px;*/
}

.appheader-menu-button-icon {
/*	width: 64px;
	height: 64px;
	padding: 8px;*/
/*	width: 48px;
	height: 48px;
	color: white;*/
}
.appheader-middle-container {
	flex: 2;
}
.appheader-middle-container h1 {
	font-size: 32;
	color: white;
}
.appheader-right-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	flex: 1;
}
.appheader-right-buttons {
	float: right;
}

.icebox-toolbar {
	z-index: 1000;
	position: fixed;
	height: 72px;
	width: 100%;
	top: 72px;
	background: #50a3a2;
	background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 0%);
	background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 0%);
}

.icebox-toolbar-scroll {
	z-index: 1000;
	position: fixed;
	height: 72px;
	width: 100%;
	top: 0;
	background: #50a3a2;
	background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 0%);
	background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 0%);
}

/*.landing-div, .signin-div, .signup-div {
	height: 100%;
	padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(../../assets/icebox-landing.jpg) no-repeat center center;
  background-size: cover;
}*/

/* Icebox Component Styling */

.icebox-container {
/*  background: #F1F1F1 no-repeat center center;
  background-size: cover;*/
  height: 100%;
  margin-top: 72px;
  padding-bottom: 72px;
/*  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);*/
  background: #53e3a6;
  background: -webkit-linear-gradient(top left, #53e3a6 100%, #50a3a2 0%);
  background: linear-gradient(to bottom right, #53e3a6 100%, #50a3a2 0%);
}

.icebox-list-container {
/*	padding-bottom: 40px;
  height: 100%;
  background: #53e3a6;
  background: -webkit-linear-gradient(top left, #53e3a6 0%, #50a3a2 100%);
  background: linear-gradient(to bottom right, #53e3a6 0%, #50a3a2 100%);*/
}

.icebox-list {
  height: 100%;
}

/* Tooltip container */
.tooltip {
  z-index: 1000;
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;

	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
}

/* Icebox Toolbar */

@charset "UTF-8";

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.start-speech-input {
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

.end-speech-input {
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

.iceboxListItem {
  display: table-cell;
  vertical-align: middle;
}

.list-item-container {
  position: relative;
  font-size: 25px;
  height: 50px;
}

.food-group-icon {
  top: 13px;
  position: absolute;
  left: 15px;
  margin: auto;
}

.item-name {
  top: 13px;
  position: absolute;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  left: 5px;
}

.expiration-red {
  top: 13px;
  position: absolute;
  right: 15px;
  color: red;
  float: right;
  display: table-cell;
  vertical-align: middle;
}
.expiration-orange {
  top: 13px;
  position: absolute;
  right: 15px;
  color: orange;
  float: right;
  display: table-cell;
  vertical-align: middle;
}
.expiration-black {
  top: 13px;
  position: absolute;
  right: 15px;
  color: black;
  float: right;
  display: table-cell;
  vertical-align: middle;
}

/*  Recipe Component Styling  */
.recipes-container {
  height: 100%;
/*  background: #F1F1F1 no-repeat center center;
  background-size: cover;*/
}

.recipes-container h1 {
  color: black;
}

.recipes-tabs {
  background-color: white;
}

.recipes-tab {
  background-color: white;
  color: black;
}

.settings-container {
  width: 90%;
}

.settings-grid {
  background-color: white;
  border-radius: 3px;
}

.settings-divs {
  width: 325px;
  margin: 0 auto;
  background-color: white;
  height: 350px;
  overflow: scroll;
}

.settings-header {
  background-color: #4CAF50;
  padding: 10px;
  font-weight: bold;
  width: 325px;
  margin: 40px auto 0px auto;
}
.setting-footer {
  background-color: white;
  width: 325px;
  margin: 0 auto;
  height: 60px;
  padding-bottom: 10px;
}

/* Landing Page Styling */

.top-button {
  position: relative;
  margin: 10px;
  background: white;
}

.nav-brand {
  position: absolute;
  left: 21%;
}

.banner-display {
  color: white;
  height: 750px;
}

.banner-text {
  position: absolute;
  color: white;
  width: 100%;
  top: 250px;
  left: 15px;
}

.banner-title {
  font-size: 100px;
}

.bar-description {
  height: 1000px;
  display: table-cell;
}

.spacer {
  height: 220px;
}

/* First white bar */

.bar1-text {
  width: 80%;
}

/* second grey bar */

.bar2 {
  position: relative;
  padding: 15px;
  background: url('http://www.insymbio.com/images/itemImages/Other%20Residues_Generic%20Organic%20Waste.jpg');
  height: 700px;
  color: white;
  width: 100%;
}

.large-text-wrapper {
  vertical-align: middle;
  text-align: center;
  height: auto;
  width: auto;
}

.large-text-1 {
  position: absolute;
  font-size: 40px;
}

.large-text-2 {
  position: absolute;
  display: inline-block;
  width: auto;
  margin: auto;
  float: left;
  left: 15%;
  font-size: 100px;
  top: 185px;
}

.large-text-3 {
  position: absolute;
  font-size: 40px;
  margin-top: 50px;
  float: right;
  bottom: 15px;
}

/* technologies used */

.tech-container {
  width: 100%;
  border: white;
}

#react {
  height: 150px;
  margin-right: -20px;
  margin-left: 15px;
}

#redux {
  height: 100px;
}

#node {
  height: 90px;
}

#mysql {
  height: 60px;
}

#html5 {
  height: 60px;
}

#css3 {
  height: 65px;
}

.tech {
  height: 150px;
  margin: 40px;
}

/* profiles */
.profile-wrapper {
  padding: 15px;
}

.profile {
  margin: 40px 0px 40px 0px;
}

.name {
  position: absolute;
  top: 85%;
}

.title {
  position: absolute;
  top: 92%;
}

.landing-backdrop {
  position: relative;
  background: transparent;
}

