body,
html,
.container-fluid {
	height: 100%;
  font-family: 'Roboto' !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto';
}
p, div {
  font-family: 'Roboto';
}


#app {
	height: 100%;
}

/* CSS for Animations */
.animation-container {
  height: 100%;
  width: 100%;
}

.example-appear {
  opacity: 0;
  transform: translate(-250px, 0);
  transform: translate3d(-250px, 0, 0);
}

.example-appear.example-appear-active {
  opacity: 1;
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
  transition-property: transform, opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.32, 1), linear;
}

.example-enter {
  opacity: 0;
  transform: translate(-250px, 0);
  transform: translate3d(-250px, 0, 0);
}

.example-enter.example-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
  transition-property: transform, opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.32, 1), linear;
}

.example-leave {
  opacity: 1;
  transform: translate(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition-property: transform, opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.32, 1), linear;
}

.example-leave.example-leave-active {
  opacity: 0;
  transform: translate(250px, 0);
  transform: translate3d(250px, 0, 0);
}

/* Main App Component Styling */

.main {
  height: 100%;
}

.app-body {
  height: 100%;
/*  padding-top: 50px;
  padding-bottom: 50px;*/
  text-align: center;
  color: #f8f8f8;
  background: url(../../assets/background.jpeg) no-repeat center center;
  background-size: cover;
}

/*.landing-div, .signin-div, .signup-div {
	height: 100%;
	padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(../../assets/icebox-landing.jpg) no-repeat center center;
  background-size: cover;
}*/

/* Signin and Signup Components Styling */

.signin-form, .signup-form {
  /*background-color: #556270;*/
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

form .text-field-input {
  -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: 0;
    border: 1px solid rgba(85, 98, 112, 0.7);
    background-color: rgba(85, 98, 112, 0.6);
    width: 90%;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 10px auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    font-weight: 300;
}

form .text-field-input:hover {
  background-color: rgba(85, 98, 112, 0.8);
}
form .text-field-input:focus {
  background-color: white;
  width: 300px;
  color: #53e3a6;
}

form .text-field-input div label {
  color: white;
}

.signin-form-button, .signup-form-button {
  width: 90%;
}

/* Landing Page Component Styling */

.landing-title {
  padding-top: 200px;
  color: black;

}
.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

.intro-message > h1 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  font-weight: 800;
  font-size: 80px;
}

/* Icebox Component Styling */

.icebox-container {
  background: #F1F1F1 no-repeat center center;
  background-size: cover;
}

.iceboxListItem {
  display: table-cell;
  vertical-align: middle;
}

.list-item-container {
  position: relative;
  font-size: 25px;
  height: 50px;
}

.food-group-icon {
  top: 13px;
  position: absolute;
  left: 15px;
  margin: auto;
}

.item-name {
  top: 13px;
  position: absolute;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  left: 5px;
}

.expiration-red {
  top: 13px;
  position: absolute;
  right: 15px;
  color: red;
  float: right;
  display: table-cell;
  vertical-align: middle;
}
.expiration-orange {
  top: 13px;
  position: absolute;
  right: 15px;
  color: orange;
  float: right;
  display: table-cell;
  vertical-align: middle;
}
.expiration-black {
  top: 13px;
  position: absolute;
  right: 15px;
  color: black;
  float: right;
  display: table-cell;
  vertical-align: middle;
}

/*  Recipe Component Styling  */
.recipes-container {
  height: 100%;
  background: #F1F1F1 no-repeat center center;
  background-size: cover;
}

.recipes-container h1 {
  color: black;
}

.recipes-tabs {
  background-color: white;
}

.recipes-tab {
  background-color: white;
  color: black;
}

.settings-container {
  height: 100%;
  background: #F1F1F1 no-repeat center center;
  background-size: cover;
}

.settings-divs {
  background-color: white;
}

/* Landing Page Styling */

.bar {
  width: 80%;
  height: 175px;
  padding: 10px;
  margin: auto;
  background: #273561;
  color: white;
  border-radius: 4px;
  text-align: center;
  z-index: 100;
}

.dev-button {
  position: fixed;
  float: right;
}

#bar-top {
  position: relative;
  width: 100%;
  height: 450px;
  top: -35px;
  margin: auto;
  background-color: #060F2F;
  background-size: unset;
  background-repeat: no-repeat;
  background-position: right;
  z-index: 10;
}

.bar-top-text {
  width: auto;
  margin-left: 5%;
  margin-top: 50px;
}

.sticky-nav {
  position: fixed;
  background: #060F2F;
  top: 0px;
  width: 100%;
  height: 100px;
  z-index: 10;
}

.bar-top-title {
  color: white;
  position: fixed;
  margin-left: 35px;
  float: left;
  font-size: 75px;
  z-index: 100;
}

.bar-top-body {
  position: absolute;
  float: left;
  /*background-color: green;*/
}

#bar-second {
  height: 750px;
  background: transparent;
  width: 100%;
  margin: 0px;
  -moz-box-shadow: 0 0 0px black;
  -webkit-box-shadow: 0 0 0px black;
  box-shadow: 0 0 0px black;
}

.bar-second-title {
  float: left;
  font-size: 75px;
  margin-left: 5%;
}

.bar-second-title {
  margin-left: 25px;
}

#bar-third {
  height: 700px;
  width: 100%;
  margin-top: 35px;
}

.profile-container {
  width: auto;
  position: relative;
}

.profile {
  color: white;
  display: inline-block;
  margin: 36px;
  background: #927F6F;
  height: 200px;
  width: 200px;
  border-radius: 3px;
}

.profile-name {

}

#colin {

}

#austin {

}

#nate {

}

#andy {

}

#bar-fourth {
  background: #060F2F;
  height: 650px;
  width: 100%;
  margin-top: 35px;
}

#bar-last {
  background: transparent;
  height: 100px;
}

.ice-img {
  position: relative;
  top: 0px;
  z-index: -10;
}

/* technologies used */

.tech-container {
  width: 100%;
  border: white;
}

#react {
  height: 250px;
  margin: -20px;
}

#node {
  height: 100px;
}

#mysql {
  height: 100px;
}

.tech {
  height: 150px;
  margin: 30px;
}

.landing-backdrop {
  position: relative;
  background: transparent;
  /*background-repeat: repeat;*/
/*  background-size: contain;
  background-position: center;*/
  width: 100%;
  height: 100%;
  z-index: -5;
}

.background-image {
  /*position: fixed;*/
  top;
  background: url('../../assets/background.jpeg');
  background-repeat: repeat;
  background-position: center;
  background-repeat: repeat;
/*  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);*/
  width: 100%;
  height: 100%;
  z-index: -500;
}

